/**
 * Variables
 * Variables should follow the $component-state-property-size formula for
 * consistent naming. Examples:
 * $nav-link-disabled-color
 * $modal-content-box-shadow-xs
 *
 * Customization:
 * To customize Bootstrap variables:
 * Copy the desired variable from node_modules/bootstrap/scss/_variables.scss
 * @see https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
 * Change the value and remove the !default flag.
 * Examples:
 * $body-bg: #000;
 * $body-color: $gray-100;
 */

$blue: #0F5EA8;
$gray-200: #DFEAF3;
$navbar-dark-color: rgba($gray-200, 1);
$navbar-dark-hover-color: rgba($gray-200, .75);
$border-radius: 0;
$border-radius-lg: 0;
$navbar-brand-padding-y: 0;
