// Bootstrap
// -----------------------------------------------------------------------------
@import 'init';
@import 'bootstrap';

// Include any custom stylesheets here
// -----------------------------------------------------------------------------
@import "base/elements";
@import "base/functions";
@import "base/helpers";
@import "base/typography";

footer {
  min-height: 300px;
  height: fit-content;
}
#push-footer {
  height: 300px;
}
@include media-breakpoint-down(md) {
  .form-row > div, .form-row > fieldset {
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }
  footer {
    min-height: 900px;
    height: fit-content;
  }
}

