// Bootstrap
// -----------------------------------------------------------------------------
@import 'init';
@import 'bootstrap';

// Include any custom stylesheets here
// -----------------------------------------------------------------------------
@import "base/elements";
@import "base/functions";
@import "base/helpers";
@import "base/typography";

footer {
  min-height: 300px;
  height: fit-content;
}
#push-footer {
  min-height: 300px;
}
@include media-breakpoint-down(md) {
  #push-footer {
    min-height: 600px;
  }
  footer {
    min-height: 600px;
    height: fit-content;
  }
}
